	.object-fit_contain { object-fit: contain }

	@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


	@font-face {
	    font-family: "BigHero";
	    src: url("../fonts/bighero.ttf");
	}

	@font-face {
	    font-family: "BigHeroNumbers";
	    src: url("../fonts/pulserifle.ttf");
	}

	.bighero-font {

		font-family: 'BigHero'; /*a name to be used later*/

	}


	/*Table*/
	.schedule .sched_time {
		min-width: 150px;
		text-align: center;
	}

	.schedule .sched_speaker { 
    	padding-right: 1.5em;
	}

	#footer a {

		text-decoration: none;
		color: rgba(255, 255, 255, 0.75);
		font-size: 1.1em;


	}

	/*Show more*/
	/*div.text-container {
    margin: 0 auto;
    width: 75%;    
	}*/

	/*#banner .button.special {
		font-family: 'Permanent Marker', cursive;
		font-size: 48px;
	}*/

	.talk-title{
	    line-height: 1.5em;
	    font-weight: normal;
	    font-style: italic;
	    /*font-weight: 700;*/
	}

	.text-content{
	    line-height: 1.3em;
	}

	.short-text {
	    overflow: hidden;
	    height: 0em;
	}

	.full-text{
		padding-top: 0.4em;
	    height: auto;
	}

	.show-more {
	    padding-top: 0.1em;
	    text-align: left;
	}


	/*Bulleted lists*/
	ol {
	    counter-reset: foo;
	    display: table;
	}

	ol > li {
	    counter-increment: foo;
	    display: table-row;
	}

	ol > li::before {
	    content: counter(foo) ".";
	    display: table-cell; /* aha! */
	    text-align: right;
	}


	body.landing {
		background-color: #EEE;
	}


	body, input, select, textarea {
		font-family: Helvetica, sans-serif;
		/*font-size: 13pt;
		font-weight: 400;
		line-height: 2em;*/
	}

	p {
		margin: 0 0 1em 0;
	}


	h1, h2, h3, h4, h5, h6 {
		text-transform: none;
	}

	h2 {

		font-weight: 500;
		line-height: 1.2em;
	}

	h3 {

		margin-bottom: .4em;
		font-weight: 500;
	}	


	ul.actions > li > * {
		width: 10%;
		/*margin: 0 !important;*/
	}

	ul{
		list-style-type: none;
		padding-left:0;
	}

	ul li{
		padding-left:0;
	}


	#redbar {

		height: 1em;
		background-color: #fda05f;
		

		position: relative;
		/*z-index: 0;*/


	}


	.anchor{
	  display: block;
	  height: 2em; /*same height as header*/
	  margin-top: -2em; /*same height as header*/
	  visibility: hidden;
	}

	.anchor2{
	  display: block;
	  height: 6em; /*same height as header*/
	  margin-top: -6em; /*same height as header*/
	  visibility: hidden;
	}


	#nav {

	background-color: #1c2f54;

	}


	.feature {

	/*padding: 2em 2em 2em 2em;*/
	margin-bottom: 3em;

	}


	.feature .image {
		
		
		display: inline-block;

		/*width: 260px;
		height: 260px;*/

		width: 30%;

		/*padding: .5em 0em 0em 0em;*/
		padding: 2em 2em 2em 2em;
		
	}

	.feature .image img {

		float: left;
		
		

		height:100%;
		width: 100%;
		/*width:100%;
		height:100%;*/
	}

	.feature .content {
		display: inline-block;
		clear: left;
		padding: 2em 2em 2em 0em;
		width: 69%;

		vertical-align: top;

		/*width: 70%;*/
	}


	@media screen and (max-width: 1280px) {

		.feature {
			margin-bottom: 4em;
		}

		.feature .content {

		}

		.wrapper {
			padding-left: 1em;
			padding-right: 1em;			
		}

		#banner {
    		padding: 11em 0 9em 0;
		}


	}

	@media screen and (max-width: 980px) {

		.feature.left, .feature.right {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column; 
		}

		.feature .image {
			width: 100%;

			padding: 0em 0em 2em 0em;
		}

		.feature .image img {
			width: 100%;

			
		}

		.feature .content {
			
			width: 100%;
			padding: 0em 2em 2em 2em;

		}

	}

	@media screen and (max-width: 736px) {

		.feature {
			margin-bottom: 2em;
		}

		.feature .content {

		}

		#banner p {
			line-height: 1.5em;
		}
		

	}

	@media screen and (max-width: 480px) {	
		.feature .content {
			
			padding: 0em 1em 1em 1em;

			
			/*text-align: justify;
    		text-justify: inter-word;*/

		}


		/*Table*/
		.schedule .sched_time {width: 100%; float:left; padding-bottom: 0; text-align: left;}
		.schedule .sched_speaker { float:left; padding-top: 0;}


	}


	.wrapper.style2 {
		background-color: #12213c;
		color: rgba(255, 255, 255, 0.75);
		/*background-attachment: fixed;*/
		/*background: url("images/overlay.png"), url("../../images/bg/birmingham4.jpg") 0 0 / cover*/
		/*background-size: cover;*/
	}

	.wrapper.style3 {
		background-color: #3766c1;
		color: rgba(255, 255, 255, 0.5);
		/*background-attachment: fixed;*/
		/*background: url("../../images/bg/overlay.png"), url("../../images/bg/bg2.jpg") 0 0 / cover*/
		background-size: cover;

	}

	.wrapper.style3 .feature {
	    background-color: rgba(0, 0, 0, 0.1);
	}	


	#footer {
		background-color: #12213c;
		color: rgba(255, 255, 255, 0.75);
	}



	#header {
		/*background: #07090c;*/
		background-position: center;
		/*color: rgba(255, 255, 255, 0.75);
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		text-align: right;
		top: 0;
		width: 100%;
		z-index: 10001;*/
		font-weight: 700;
		/*height: 70px;*/
	}





	#header > .bighero-font {
		font-family: 'BigHero', 'BigHeroNumbers'; /*a name to be used later*/
		color: #fff;
		display: inline-block;
		height: inherit;
		left: 1.25em;
		line-height: inherit;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		font-smooth: 10em;
	}


	#header a {
		/*-moz-transition: color 0.2s ease-in-out;
		-webkit-transition: color 0.2s ease-in-out;
		-ms-transition: color 0.2s ease-in-out;
		transition: color 0.2s ease-in-out;*/
		/*color: #fff;*/
		color: #666666;
		/*display: inline-block;
		margin-right: 1.25em;
		text-decoration: none;*/
	}	


	#header.alt {
		/*background-color: transparent;*/
		background-color: white;
		font-size: 1.25em;
		padding: 0em 2em;
		/*position: absolute;*/
		position: fixed;
	}	

	#WSTitle {

		margin-top: 2em;
		margin-bottom: 1em;

	}

	#banner {
		/*padding: 8em 0 6em 0;*/
		background-color: #3766c1;
		color: rgba(255, 255, 255, 0.50);
		background-attachment: fixed;
		background-image: url("../../images/bg/overlay.png"), url("../../images/bg/bg3.jpg")
		/*background-size: cover;
		/*text-align: center;*/
	}	

	#banner .button.special {
		background-color: #ff0000;
		box-shadow: none;
		color: #fff !important;
	}	

	#banner p {
		/*color: #fff;
		font-size: 1.5em;
		margin-bottom: 1.75em;*/
		text-transform: none;
	}	

	#banner .bighero-font {
		color: #fff;
		font-size: 3em;
		margin: 0 0 0.2em 0;
		padding: 0;
	}

	#baymax {

		/*background-image: url("../../images/baymax.png");*/
		float: left; 
		position: absolute;
		top: 200px;
		/*margin: 0px 15px 15px 0px;*/
		height: 900px;

		/*z-index: 1;*/


	}


	.logo_container2 {
  		margin-top: 100px;
	}	

	.org_logos2 {
		/*width: 60%;*/
		width: 90%;
		
	}



	.logo_container {

		display: flex;
		flex-direction: row;
  		justify-content: space-between;
  		max-height:200px;

  		margin-top: 100px;
	}

	.org_logos {
		width: 25%;
		
	}


	@media screen and (max-width: 1280px) {
		.logo_container2 {
	  		margin-top: 70px;
		}	

		.org_logos2 {
			/*width: 60%;*/
			width: 90%;
			
		}
	}



	@media screen and (max-width: 980px) {

		#baymax {

			/*background-image: url("../../images/baymax.png");*/
			top: 350px;
			margin: 0px 0px 0px -35px;
			height: 400px;

		}

		.logo_container2 {
	  		margin-top: 60px;
	  		margin-bottom: 30px;
		}	

		.org_logos2 {
			width: 100%;
			
		}



	}


	@media screen and (max-width: 736px) {

		.logo_container {
	  		margin-top: 30px;
	  		/*padding-left: 20px;
	  		padding-right: 20px;*/
		}
		.org_logos {
			/*width: 20%;*/
			
		}
	}	


	@media screen and (max-width: 540px) {


		#baymax {

			/*background-image: url("../../images/baymax.png");*/
			top: 360px;
			margin: 0px 0px 0px -35px;
			height: 300px;

		}


		.logo_container2 {
	  		margin-top: 60px;
	  		margin-bottom: 60px;
		}	

		.org_logos2 {
			width: 100%;
			
		}


	}

	@media screen and (max-width: 480px) {	


		.logo_container {
	  		margin-top: 0px;
	  		/*padding-left: 20px;
	  		padding-right: 20px;*/
		}
		.org_logos {
			/*width: 20%;*/
			
		}



		#header.alt {
			/*padding: 0.5em 1em;*/
			padding: 0.0em .8em;
		}


		#banner {
			padding: 5em 2em 3em 2em;
			/*background: url("images/overlay.png"), url("../../images/bg/birmingham4_narrow.jpg") 0 0 / cover ;*/

		}

		#banner .bighero-font {
			font-size: 1.8em;
			margin: 0 0 -.0em 0;
		}

	}	

	@media screen and (max-width: 390px) {


		#baymax {

			/*background-image: url("../../images/baymax.png");*/
			top: 380px;
			margin: 0px 0px 0px -35px;
			height: 250px;

		}

	}	

	@media screen and (max-width: 349px) {


		#baymax {

			/*background-image: url("../../images/baymax.png");*/
			top: 400px;
			margin: 0px 0px 0px -35px;
			height: 250px;

		}

	}	

